<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Instructions</h3>
    <p>Open up the terminal and run the following:</p>
    <p><code>npm run genart</code></p>
  </body>
</html>
